/* Add your CSS here to style your halloween page */
header img{
  width:200px;
  float: left;
}
body {
  font-family: 'Open Sans', sans-serif;
  background: radial-gradient(circle at center, #120016 0%, #000 100%);
  color: #f6d69b;
  overflow-x: hidden
}
#wrapper {
  max-width: 960px;
  margin: 0 auto;
  background: rgba(20, 0, 25, 0.7);
  border: 3px solid #ff8800;
  border-radius: 15px;
  box-shadow: 0 0 40px #ff6a00;
  padding: 1em 2em 2em;
  position: relative;
}

nav ul{

}

section{
  display: grid;
  grid-template-columns: auto;
}