div{ 
    max-width: 1500px;
}
#content{
    margin: 0 auto;
}
nav a{
    text-align: center; 
    #hero-msg h1 #hero-msg h4 button-box main section>
}
#background {
    height: 750px;
}
body {
    background-color: tan; 
}
header {
    background-color: rgb(73, 33, 17);
}
nav a:hover {
    background-color: black;
    nav a:hover 
    background-color: black;
    color: tan;
}
icon {
    width: 75px;
}
nav a {
    text-align: center;
    color: tan;
    text-decoration: none;
}    
footer p {
    font-size: 1.1em;
}   
footer p a:hover {
    text-decoration: underline;
}   
